h1 Welcome to Dnd character maker! 
h2 ______________________________________________________________________
h2 this is the home-page

-   if @username != nil
    p = "Logged in as '#{@username}' id is '#{@id}'"