form action="/character/new" method="post"
    input type="text" name="title" placeholder="Characters Name"
    input type="text" name="user_id" placeholder="Users id (1) just nu"
    input type="submit" value="Create"